.Chat table {
    border-collapse: collapse;
}

.ConversationRoomList td {
    cursor: pointer;
}

.ConversationRoomList td.active,
.ConversationRoomList td:hover {
    background-color: #2e60ff;
    color: #FFFFFF;
}