*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #538ec5;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
}

.container {
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
}

.room-list {
    width: 260px;
    float: left;
}

.room-list .new-conversation {
    border-top-left-radius: 5px;
    padding: 15px;
    border-bottom: 2px solid #6fabe4;
    background-color: #3c404e;
}

.room-list ul {
    margin: 0;
    padding: 15px;
    height: 640px;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
}

.room-list ul li {
    padding: 10px;
    margin-bottom: 3px;
}

.chat {
    width: 490px;
    float: left;
    background: #444753;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat .search-box {
    padding: 15px;
    border-bottom: 2px solid #6fabe4;
}

.chat .chat-history {
    padding: 15px 15px 10px;
    border-bottom: 2px solid #6fabe4;
    overflow-y: scroll;
    height: 475px;
}

.chat .chat-history ul {
    list-style: none;
    padding: 0;
}

.chat .chat-history ul li {
    word-wrap: break-word;
}

.chat .chat-history .message-data {
    margin-bottom: 10px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 15px;
    width: 90%;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86bb71;
    border-width: 10px;
    margin-left: -10px;
}

.room-list .list .list-item {
    border: 2px solid #6fabe4;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    word-wrap: break-word;
}

.room-list .list .list-item.active, .room-list .list .list-item:hover {
    background: #6fabe4;
}


.chat .chat-history .other-message {
    background: #6fabe4;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #6fabe4;
    left: 93%;
}

.chat .chat-message {
    padding: 15px;
}

.chat .message-data-name {
    font-weight: bold;
    color: white;
}

.container textarea, .container input {
    border: none;
    padding: 10px;
    font: 14px/22px sans-serif;
    border-radius: 5px;
    resize: none;
    background-color: #f1f1f1;
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

button  {
    color: #6fabe4;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
}

button:disabled {
    color: #7a7a7a !important;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
